body{
font-family: 'McLaren', cursive;
}
h1
{
  color:darkgray;
font-size: 4rem;
}
h2
{
  color: red;
  font-size: 2rem;
}
img{
  visibility: hidden;
}

.centered-wrapper {
    position: relative;
    text-align: center;

}
.centered-content {
    display: inline-block;
    vertical-align: middle;

}
